<div class="row">
    <div class="col-md-4">
      <h1>Angular + NGRX</h1>
      <hr><br>
<div *ngIf="isAuthenticated; then thenBlock else elseBlock"></div>
<ng-template #elseBlock>
  <a [routerLink]="['/login']" class="btn btn-primary">Log in</a>
  <a [routerLink]="['/signup']" class="btn btn-primary ml-3">Sign up</a>
</ng-template>
<ng-template #thenBlock> <p>You logged in <em>{{user.email}}!</em></p><button class="btn btn-primary" (click)="logOut()">Log out</button></ng-template>

<br><br><br>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Current State</h5>
    <ul>
      <li><strong>isAuthenticated</strong> - {{isAuthenticated}}</li>
      <li><strong>user.email</strong> - {{ user?.email || 'null'}}</li>
      <li><strong>user.token</strong> - {{ user?.token['token'] || 'null'}}</li>
      <li><strong>errorMessage</strong> - {{ errorMessage || 'null'}}</li>
    </ul>
  </div>
</div>

</div>
</div>
